<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Weebstopia</title>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Nunito|Raleway|Ubuntu:500" rel="stylesheet">

  <!-- CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</head>

<body>

  <!-- SECTION BREAK -->
  <section class="bg-dark pb-5">
    <!-- Nav Bar Begin -->
    <div class="container-fluid">
      <nav class="navbar navbar-dark navbar-expand-md pt-4">
        <a class="navbar-brand" href="#">
          <img src="favicon-32x32.png" alt="W">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

          <form class="form-inline" style="position: absolute;right:90px;" action="/log-in" method="GET">
            <button class="btn btn-outline-primary mr-sm-2" type="submit">Login</button>
          </form>
          <form class="form-inline" style="position: absolute;right:0px;" action="/sign-up" method="GET">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Signup</button>
          </form>
        </div>
      </nav>
    </div>
    <!-- Nav Bar End -->
    <!-- Welcome Begin -->
    <div class="container-fluid text-light p-md-5" id="welcome">
      <div class="row py-md-4">
        <div class="col-md-6">
          <h1 class="d-flex justify-content-center mt-4 text-center" id="welcome-text">Welcome to<br>Weebstopia
          </h1>
          <h5 class="d-flex justify-content-center mt-md-5 mt-3 text-center" id="description-text">A social media site
            for weebs.</h5>
          <div class="d-flex justify-content-center mt-md-5 mt-4">
            <button type="button" class="btn btn-secondary mr-3">#</button>
            <button type="button" class="btn btn-secondary ml-3">#</button>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center pt-4">
          <img src="midoriya.png" width="350" height="350" alt="Check Your Internet Connection">
        </div>
      </div>
    </div>
    <!-- Welcome End -->
  </section>
  <!-- SECTION BREAK -->
  <section class="bg-light">
    <!-- Cards Begin -->
    <div class="container-fluid p-md-5">
      <div class="row p-md-5">
        <div class="col-lg-3 col-6 p-2 p-md-5">
          <div class="card">
            <img src="rank-list.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title mb-3 text-center">Rank List</h5>
              <p class="card-text text-center d-none d-md-block">Hash Hash Hash Hash</p>
              <p class="card-text text-center d-none d-md-block">Hash Hash Hash Hash</p>
              <a href="#" class="btn btn-dark mt-md-5 mt-4 d-flex justify-content-center">#</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-2 p-md-5">
          <div class="card">
            <img src="tier-list.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title mb-3 text-center">Tier List</h5>
              <p class="card-text text-center d-none d-md-block">Hash Hash Hash Hash</p>
              <p class="card-text text-center d-none d-md-block">Hash Hash Hash Hash</p>
              <a href="#" class="btn btn-dark mt-md-5 mt-4 d-flex justify-content-center">#</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-2 p-md-5">
          <div class="card">
            <img src="watch-list.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title mb-3 text-center">Watch List</h5>
              <p class="card-text text-center d-none d-md-block">Hash Hash Hash Hash</p>
              <p class="card-text text-center d-none d-md-block">Hash Hash Hash Hash</p>
              <a href="#" class="btn btn-dark mt-md-5 mt-4 d-flex justify-content-center">#</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-1 p-md-5">
          <div class="card">
            <img src="character-list.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title mb-3 text-center">Character List</h5>
              <p class="card-text text-center d-none d-md-block">Hash Hash Hash Hash</p>
              <p class="card-text text-center d-none d-md-block">Hash Hash Hash Hash</p>
              <a href="#" class="btn btn-dark mt-md-5 mt-4 d-flex justify-content-center">#</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cards End -->
  </section>
  <!-- SECTION BREAK -->
  <section class="bg-dark">
    <!-- Uses Begin -->
    <div class="container-fluid text-light py-5">
      <div class="p-md-5 d-flex justify-content-center">
        <h2 class="text-center pt-md-4 mb-0" id="uses-heading">This site can also be used for:</h2>
      </div>
      <div class="d-flex justify-content-center p-4" id="uses-list">
        <ul type="circle">
          <li class="p-1">Organising Anime</li>
          <li class="p-1">Tracking Progress</li>
          <li class="p-1">Comparing with friends</li>
          <li class="p-1">Getting to know other weebs</li>
        </ul>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary">#</button>
      </div>
    </div>
    <!-- Uses End -->
  </section>
  <!-- SECTION BREAK -->
  <section class="bg-light py-5">
    <!-- Badge Begin -->
    <div class="container-fluid pt-md-5">
      <div class="d-flex justify-content-center py-md-4">
        <h2 class="text-center" id="badge-heading">Receive badges based on the number of anime watched:</h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-4 py-4">
          <div class="card">
            <img src="Hash.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Blah</h5>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-4 py-4">
          <div class="card">
            <img src="Hash.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Blah</h5>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-4 py-4">
          <div class="card">
            <img src="Hash.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Blah</h5>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-4 py-4">
          <div class="card">
            <img src="Hash.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Blah</h5>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-4 py-4">
          <div class="card">
            <img src="Hash.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Blah</h5>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-4 py-4">
          <div class="card">
            <img src="Hash.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Blah</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-2 col-4 pb-4">
          <div class="card">
            <img src="Hash.png" alt="#" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Blah</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Badge End -->
  </section>
  <!-- SECTION BREAK -->
  <section class="bg-dark py-3">
    <!-- Footer Begin -->
    <div class="container-fluid text-light d-flex align-items-center justify-content-between">
      <h3 class="text-center">Anime List Maker</h3>
      <p class="text-center">© 2020 Copyright</p>
      <ul class="mb-0" type="none">
        <li>#</li>
        <li>#</li>
        <li>#</li>
      </ul>
    </div>
    <!-- Footer End -->
  </section>
  <!-- SECTION BREAK -->

</body>

</html>