<!DOCTYPE html>
<html>

<head>
  <title>Weebstopia</title>
  <link rel="icon" type="image/ico" href="../favicon.ico">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
  <script src="../script.js"></script>
  <link rel="stylesheet" href="../style.css">
</head>

<body id="wallpaper">
  <div id="app">
    <div class="_452c3ec4 d68c66a8">
      <div class="_75ce47e7">
        <main>
          <header>
            <a href="/">
              <img src="../logo-big.png" height="75" width="75" alt="Weebstopia">
            </a>
          </header>
          <div class="_94d452dc">
            <section class="_2b1f4808 bg-white br3">
              <div>
                <form method="POST" action="/check-user" class="ma0">
                  <h2 class="aa630ec5 f3 fw6 pb3 pt0 mt0 mb3 black-70 b--black-10 bb">Login</h2>
                  <p class="<%= bg %> <%= text %> p-2 mb-4 m-2 text-center rounded"><%= message %></p>
                  <div>
                    <label class="db mt1 mb2 f5 fw6 black-70 nowrap " for="login_name">
                      User Name
                    </label>
                    <input type="text"
                      class="_425fdea4 relative w-100 ma2 ml0 pv3 pl2 pr2 br2 black-70 ba b--black-10  " name="userName"
                      pattern="[a-zA-Z0-9]+" value="" autofocus required>
                  </div>
                  <div>
                    <label class="db mt1 mb2 f5 fw6 black-70 nowrap " for="login_password">
                      Password
                    </label>
                    <input type="password" minlength="5"
                      class="_425fdea4 relative w-100 ma2 ml0 pv3 pl2 pr2 br2 black-70 ba b--black-10  " name="password"
                      value="" required>
                  </div>
                  <div class="dib fr mt1">
                    <a tabindex="-1" class="text-secondary" href="/forgot-password">
                      Forgot password?
                    </a>
                  </div>
                  <div>
                    <input type="checkbox" class="pointer" value="true" name="remember">
                    <label class="mt4 mb3 f5 fw6 black-70 " for="remember_me">
                      Remember me
                    </label>
                  </div>
                  <button type="submit"
                    class="_24a1e9c7 dab9924c br2 pv2 ph3 fw5 f5 tc button button-reset pointer ma2 truncate ml0 no-underline e64d5a00 w-100">Login
                  </button>
                </form>
                <a href="/sign-up" class="_6126477b db center tc mt3 mb2 f5 fw6 black-50 hover-black-80">Sign up
                </a>
              </div>
            </section>
          </div>
        </main>
      </div>
    </div>
  </div>
</body>

</html>