You are receiving this because you (or someone else) requested the password reset of <strong><%= userName %></strong>
account.
<br>
Please click on the following link, or paste link address into your browser to complete the process:
<br>
<a href="http://localhost:3000/reset-password/<%= pid %>/<%= token %>">
    Reset password
</a>
<br>
If you received this in error, you can safely ignore it.