<% if(token != 'invalid') { %>
<form action="/reset-password" method="POST">
    <input type="hidden" name="id" value="<%= pid %>" />
    <input type="hidden" name="token" value="<%= token %>" />
    <input type="password" minlength="5" name="password" value="" placeholder="Enter your new password..." required />
    <input type="submit" value="Reset Password" />
</form>
<% } %>
<% if(token == 'invalid') { %>
<p>Invalid</p>
<% } %>